<h1>Connexion à ClickAndCollect</h1>
<form method="post" class="form-control">
    <label for="identifiant" class="align-content-center">Identifiant : </label>
    <input type="text" class="align-content-center" name="identifiant" id="identifiant" placeholder="Nom d'utilisateur ou email" />
    <br />
    <br />
    <button type="submit" class="align-content-lg-center">Se connecter</button>
</form>
